div.aa{margin:10px; border-style:solid; width:300px; height:auto; border-width:1px; border-color:#888; background-color: #F7F7F7}
div.bb{color: #888; margin:0 auto; border-style:solid; width:350px; height:auto; border-width:1px; border-color:#888; background-color: #E4E4E4}
h3{margin-left:115px; border-bottom:1px solid #E4E4E4}
